.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  min-height: 632px;
  min-width: 1128px;
}

.Content {
  width: 100%;
  height: 90%;
  /* 后面要锁定最小高度，宽度，可以解决高度问题 */
}

.AppBox2 {
  width: calc(100vh * 1.78);
  height: 100%;
  position: relative;
  min-height: 632px;
  min-width: 1128px;
}

.Navbar {
  height:5%
}

.Footer {
  height:5%
}

.Background {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.Background > video {
  width: 100%;
  object-fit: cover;
}