.App {
  text-align: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.Content {
  width: 100%;
  height: 95%;
}

.AppBox2 {
  height: 100vh;
  position: relative;
  aspect-ratio: 1.78;
}

.Navbar {
  height:5%;
}

.Footer {
  position: absolute;
  bottom: 0;
  height: 5%;
  width: 100%;
}

.Background {
  position: absolute;
  width: 100%;
  z-index: -1;
}

.Background > video {
  width: 100%;
  object-fit: cover;
}

.Background > img {
  width: 100%;
  object-fit: cover;
}