html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden; /* 可选：防止滚动 */
  overflow-x: auto;
  min-width: 700px;
}
/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
