@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

.NavbarContent{
    height:100%;
    position: relative;
    /* background: radial-gradient(circle at 15% center, #ff7847 0%, rgb(48, 48, 48) 10%, rgb(17, 17, 17)) */
}

.Dota2Logo {
    height: 130%;
    padding: 0px;
    width: 8%;
    position: absolute;
    top: 0px;
    left: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: radial-gradient(circle at center, gold, #ca6642); */
    /* border-bottom: 3px solid #eebb79; */
    border-left: 3px solid #414141;
    border-right: 3px solid #414141;
}

.SettingLogo {
    height: 100%;
    position: absolute;
    top: 0px;
    left: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NavbarItems {
    height: 100%;
    width: 42%;
    position: absolute;
    top: 0px;
    left: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Ma Shan Zheng", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(116, 116, 116);
    text-shadow: 0px 1px 5px #000000;
    font-size: 20px;
}