@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

.InitTalentInfoContent {
    height: 100%;
}

.InitTalentTitle {
    background: radial-gradient(circle at 25% center, rgba(161, 161, 161, 0.75), rgba(50, 50, 50, 0.75));
    font-size: 2vh;
    font-family: "Ma Shan Zheng", cursive;
    font-weight: 400;
    font-style: normal;
    display: flex;
    text-align: start;
    justify-content: start;
    align-items: center;
}

.HeroPageInitTalentSkillName {
    font-size: 1.5vh;
    margin: 2%;
    font-family: "Ma Shan Zheng", cursive;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient(to right, rgb(60, 60, 60), rgb(15, 15, 15));
}

.InitTalentTitleImage {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-basis: 10%;
    margin: 2%;
}

.InitTalentTitleImage img {
    width: 100%;
}

.InitTalentDescription{
    margin: 3%;
    color: rgb(190, 190, 210);
    font-size: 1.5vh;
    text-align: start;
}

.InitTalentStatistic{
    margin: 3%;
    color: rgb(111, 111, 111);
    font-size: 1.5vh;
    text-align: start;
}