@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

.HeroPageContent {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    position: relative;
    justify-content: space-between;
}

.HeroPageLeft {
    padding: 8% 0% 15% 5%;
    flex-basis: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 20px;
    color: white;
}

.HeroPageMiddle {
    position: absolute;
}

.HeroPageRight {
    flex-basis: 30%;
    height: 100%;
}

.HeroPageHeroName {
    font-family: "Ma Shan Zheng", cursive;
    font-weight: 400;
    font-style: normal;
}