.ChatComponentContent {
    position: absolute;
    bottom: 100%;
    width: 100%;
    overflow: hidden;
}

.ChatComponentMainPart {
    display: flex;
    width: 100%;
    height: 100%;
}

.ChatComponentLeftPart {
    width: 75%;
    height: 100%;
}

.ChatComponentRightPart {
    width: 25%;
    height: 100%;
    border-left: 3px rgb(0, 0, 0) solid;
}

.ChatComponentLeftTop {
    height: 12%;
    background-color: rgba(0, 0, 0, 0.92);
    display: flex;
}

.ChatCellTitle {
    height: 100%;
    padding: 0 5%;
    color: rgb(87, 207, 121);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6vh;
}

.ChatComponentRightTop {
    display: flex;
    height: 12%;
    background-color: rgba(0, 0, 0, 0.92);
}

.ChatComponentLeftMain {
    height: 88%;
    background-color: rgb(31, 36, 38);
}

.ChatComponentRightMain {
    height: 88%;
    background-color: rgba(20, 20, 20, 0.95);
}

.CloseChatBoxButton {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddNewChannelButton {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.35vh;
    color: rgb(145, 145, 145);
}