.FriendComponentContent {
    height: 59%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.FriendSearch {
    height: 8%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 0% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.FriendSearchBar {
    flex-basis: 85%;
    width: 85%;
    height: 80%;
    border: 2px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1%;
}

.FriendList {
    height: 92%;
    width: 100%;
}