.LoginContent{
    width: 600px;
    height: 400px;
    border: 1px solid rgb(173, 173, 173);
    background:linear-gradient(to right, rgb(52, 52, 52) , rgb(25, 25, 25) );
    display: flex;
    flex-direction: column;
    background: url('http://localhost:3001/assets/commons/LoginBK.jpg');
    background-size: cover;
}

.LoginContentTitle {
    flex-basis: 15%;
    font-size: 22px;
    color: rgb(225, 225, 225);
    padding-top: 20px;
}

.LoginContentForm {
    flex-basis: 77%;
    height: 100%;
    display: flex;
}

.LoginPageTypeSwitch {
    flex-basis: 8%;
    color: rgb(131, 131, 131);
    text-align: end;
}

.LoginPageTypeSwitch:hover {
    cursor: pointer;
    color: rgb(228, 228, 228);
}

.LoginContentLoginButton:hover {
    cursor: pointer;
    color: rgb(0, 187, 255);
    text-shadow: 0 0 15px rgba(92, 188, 218, 1);
    box-shadow: 0 0 15px 0 rgba(92, 188, 218, 0.75);
}

.LoginContentLoginButton {
    width: 100px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    font-size: 16px;
    color: rgb(225, 225, 225);
}