@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

.SkillInfoContent {
    height: 100%;
}

.SkillInfoSkills {
    position: relative;
    z-index: 5;
}

.SkillInfoSkillPanel {
    align-items: center;
    text-align: start;
    background: radial-gradient(circle at 0% 0%, rgb(40, 40, 40), rgb(15, 15, 15));
    width: 100%;
    padding: 1%;
}

.SkillInfoSkillName {
    background: linear-gradient(to right, rgb(60, 60, 60), rgb(45, 45, 45));
    padding: 0.5%;
    color: rgb(210, 210, 210);
    font-size: 1.75vh;
    font-family: "Ma Shan Zheng", cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 1%;
}

.SkillInfoSkillVedio{
    width: 100%;
    height: 100px;
    margin-bottom:1% ;
    background-color: silver;
}

.SkillInfoInfo1 {
    padding: 1% 0;
    font-size: 1.5vh;
    border-top: 1px solid rgb(111, 111, 111);
    border-bottom: 1px solid rgb(111, 111, 111);
    color: rgb(111, 111, 111);
}

.SkillInfoInitTalent {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.35vh;
    color: rgb(111, 111, 111);
}

.SkillInfoInitTalentName {
    font-family: "Ma Shan Zheng", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(181, 181, 181)
}

.SkillInfoInitTalentDescription {
    color: rgb(190, 190, 210);
    font-size: 1.5vh;
    padding: 1% 0;
}

.SkillInfoInitTalentName {
    font-family: "Ma Shan Zheng", cursive;
    font-weight: 400;
    font-style: normal;
    color: rgb(181, 181, 181)
}

.SkillInfoDescription {
    color: rgb(190, 190, 210);
    font-size: 1.5vh;
    padding: 1% 0;
}

.SkillInfoCostCD {
    display: flex;
}

.SkillInfoInitTalentDescription {
    color: rgb(190, 190, 210);
    font-size: 1.5vh;
    padding: 1% 0;
}

.SkillInfoSkillStatistic {
    font-size: 1.5vh;
    color: rgb(111, 111, 111);
    padding: 1% 0;
}

.SkillInfoCostCD {
    font-size: 1.5vh;
    color: rgb(111, 111, 111);
    padding: 1% 0;
}

.SkillInfoExtraInfo {
    background-color: rgb(13, 13, 13);
    padding: 1%;
    font-size: 1.5vh;
    color: rgb(88, 88, 88);
}

.SkillInfoSkillImage {
    position: absolute;
    background-color: green;
    height: 10%;
    width:3%;
    border: 2px solid black;
}

.SkillInfoDetails {
    color: rgb(190, 190, 210);
    font-size: 1.5vh;
    padding: 1% 1%;
    background-color: rgb(66, 66, 66);
}